<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>SquidHome</title>

	<!--<link rel="stylesheet" type="text/css" href="http://cdn.ink.sapo.pt/3.1.10/css/ink-flex.min.css">
	<link rel="stylesheet" type="text/css" href="http://cdn.ink.sapo.pt/3.1.10/css/font-awesome.min.css">-->

	<link rel="stylesheet" type="text/css" href="ink-flex.min.css">
	<link rel="stylesheet" type="text/css" href="font-awesome.min.css">

	<!--<script type="text/javascript" src="http://cdn.ink.sapo.pt/3.1.10/js/holder.js"></script>
	<script type="text/javascript" src="http://cdn.ink.sapo.pt/3.1.10/js/ink-all.min.js"></script>
	<script type="text/javascript" src="http://cdn.ink.sapo.pt/3.1.10/js/autoload.js"></script>-->

	<script type="text/javascript" src="holder.js"></script>
	<script type="text/javascript" src="ink-all.min.js"></script>
	<script type="text/javascript" src="autoload.js"></script>

	<script type="text/javascript" src="site.js"></script>

	<!-- http://ink.sapo.pt/ui-elements/buttons/ -->
</head>
<body>
	<form action="/devices" method="post">
		<div class="ink-grid">
			<div class="column-group gutters">
				<div class="all-100">
					<h2>Devices</h2>

					<table class="ink-table alternating bordered">
						<thead>
							<tr>
								<th class="align-left">ID</th>
								<th class="align-left">Name</th>
								<th class="align-left">Value</th>
								<th class="align-left">Action</th>
							</tr>
						</thead>

						<tbody>
							@Each.SmartDevices
							<tr id="sd-@Current.ID">
								<td>
									@Current.ID
								</td>

								<td>
									@Current.Name
								</td>

								<td class="id-value">
									@Current.Value
								</td>

								<td>
									@If.CanToggle
									<!--<button class="ink-button" name="Action" value="ToggleOn/@Current.ID" onclick="return ws_trigger_button('@Current.ID');">On</button>-->
									<button class="ink-button" onclick="return ws_send_event('Toggle', { ID: '@Current.ID', Value: true });">On</button>
									<button class="ink-button" onclick="return ws_send_event('Toggle', { ID: '@Current.ID', Value: false });">Off</button>
									@EndIf
								</td>
							</tr>
							@EndEach
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</form>
</body>
</html>
