<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>SquidHome</title>

	<link rel="stylesheet" type="text/css" href="http://cdn.ink.sapo.pt/3.1.10/css/ink-flex.min.css">
	<link rel="stylesheet" type="text/css" href="http://cdn.ink.sapo.pt/3.1.10/css/font-awesome.min.css">

	<script type="text/javascript" src="http://cdn.ink.sapo.pt/3.1.10/js/holder.js"></script>
	<script type="text/javascript" src="http://cdn.ink.sapo.pt/3.1.10/js/ink-all.min.js"></script>
	<script type="text/javascript" src="http://cdn.ink.sapo.pt/3.1.10/js/autoload.js"></script>

	<!-- http://ink.sapo.pt/ui-elements/buttons/ -->
</head>
<body>
	<form action="/index" method="post">
		<div class="ink-grid">
			<header class="vertical-space">
				<h1>Index</h1>
				<nav class="ink-navigation">
					<ul class="menu horizontal black">
						<li class="active"><a href="~/">Main</a></li>
						<!--<li><a href="#">item</a></li>
						<li><a href="#">item</a></li>-->
					</ul>
				</nav>
			</header>

			<div class="column-group gutters">
				<div class="all-100">
					<h2>Devices</h2>

					<table class="ink-table alternating bordered">
						<thead>
							<tr>
								<th class="align-left">ID</th>
								<th class="align-left">Name</th>
								<th class="align-left">Value</th>
								<th class="align-left">Action</th>
							</tr>
						</thead>

						<tbody>
							@Each.Devices
							<tr>
								<td>
									@Current.ID
								</td>

								<td>
									@Current.Name
								</td>

								<td>
									@Current.Value
								</td>

								<td>
									@If.CanToggle
									<button class="ink-button" name="Action" value="ToggleOn/@Current.ID">On</button>
									<button class="ink-button" name="Action" value="ToggleOff/@Current.ID">Off</button>
									@EndIf
								</td>
							</tr>
							@EndEach
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</form>
</body>
</html>
